/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #1f010c !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #f9d3dc; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #f9d3dc; background-color: rgba(214,196,201,0.4)}
.cm-s-nqqwal { background-color: #1f010c; color: #f9d3dc; }
.cm-s-nqqwal span.cm-builtin { color: #e19499; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #cda7b0; }
.cm-s-nqqwal span.cm-keyword { color: #a7a8c3; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #bea7b6; }
.cm-s-nqqwal span.cm-def { color: #b1abba; }
.cm-s-nqqwal span.cm-variable { color: #d6c4c9; }
.cm-s-nqqwal span.cm-variable-2 { color: #b1abba; }
.cm-s-nqqwal span.cm-string { color: #e19499; }
.cm-s-nqqwal span.cm-string-2 { color: #e19499; }
.cm-s-nqqwal span.cm-number { color: #b1abba; }
.cm-s-nqqwal span.cm-tag { color: #a7a8c3; }
.cm-s-nqqwal span.cm-property { color: #d6c4c9; }
.cm-s-nqqwal span.cm-attribute { color: #d6c4c9; }
.cm-s-nqqwal span.cm-qualifier { color: #bea7b6; }
.cm-s-nqqwal span.cm-meta { color: #b1abba; }
.cm-s-nqqwal span.cm-header { color: #a7a8c3; }
.cm-s-nqqwal span.cm-operator { color: #a7a8c3; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(177,171,186,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #a7a8c3; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #1f010c); }
